@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

*{padding: 0; margin: 0;
font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}

/* body{
    height: 450vh;
} */

/* body::-webkit-scrollbar{
    display: none;
} */

.wrap{
    background: black;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
    height: 100%;
}